[Unit]
Description=Jenkins

[Service]
User=jenkinsadm

WorkingDirectory=/home/jenkinsadm
ExecStart=/usr/bin/java -jar /home/jenkinsadm/jenkins.war

[Install]
WantedBy=multi-user.target
